* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background-color:#E4E4E4;*/
    background-color:#dfdfdf !important;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    /*text-transform:uppercase;*/
    width:100%;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.menu_icon {
  padding: 3em !important;
  margin: .5em;
  width: 45%;
  cursor: pointer; 
}

.site_color1 {
    background-color: cornflowerblue;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    clear: both;
}

.page_header {
  width: 100%;
  height: 4em;
}

.head {
  height: 3em;
  padding: 1em;
  font-size: 1.5em !important;
}

.menu {
  font-size: 1.5em;
  color: white !important;
}

a.menu {
  text-decoration: none;
}

div.rmenu {
  text-align: left;
  padding: 2em;
}

#qrcode {
  padding: 1em;
  margin: 1em;
  text-align: center;
}

#qrcode img {
  margin-left: auto;
  margin-right: auto;
}

.qr_msg {
   text-align:center;
}

.qr_timer {
   text-align: center;
   padding: 1em;
}

#timer {
  font-size: 1.5em;
  font-weight: bold;
  color: red;
}

div.smenu {
  margin: 0.3em;
  text-align: left;
}

div.usr_info_msg {
  madding: 1em;
  text-align: center;
  font-size: 1.2em;
  color: purple;
}

#usr_info {
  font-size: .8em;
}

.ecard_txt {
   color: purple;
   font-size: 1.2em;
   text-align: center;
}

a {
  text-decoration: none !important;
}

#redeem_box {
 border: 2px solid #54ea47;
 border-radius: 10px;
 padding: 1em;
}

.claim_code_div {
  padding-top: 1em;
  padding-bottom: 1em;
}

#scan {
  color: white;
  cursor: pointer;
}

.settings {
  float: right;
}

.form-horizontal {
    margin: auto;
    padding: 2em;
}

.home {
  float: left;
}

.photo {
   width: 10em;
   height: 10em;
   margin: auto;
   background-color: #efefef;
   border-radius: 2em;
}

#take_pic {
  margin: auto;
}

#smallImage {
  border-radius: 2em;
}

#profile_pic {
  border-radius: 2em;
}

#settings_view {
  width: 100%;
  background-color: #ffffff;
  margin: 1em;
  border-radius: 1em;
}
.logo {
  width: 3em;
  height: 3em;
  float: left !important;
}
#profile_header {
}

#name_view {
 font-size: 1.8em;
 margin: 0.3em;
 color: darkblue; 
}

#empid_view, #role_view, #company_view, #signum_view {
 font-size: 1.3em;
 margin: 0.3em;
}

#tr_amnt_div {
  margin: 04.em;
  padding: 0.4em;
}

.fleft {
  float: left;
}

#tr_amnt_div label {
	text-align: center;
}

.usr {
    width: 8em;
    height: 2em;
    padding: 4em;
    margin: 0.3em;
    background-color: #acacac;
    border-radius: 4em;
    cursor: pointer;
}

.highlight {
    background-color: lightblue !important;
}
